{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEDICAL CENTRE</title>
</head>

<body>
    <style>
        body {background-color: rgb(128, 128, 128);}
        h1   {
            color: black;
            text-align: center;
        }
        span {
            background-color: rgb(186, 229, 224);
        }
        h3   {
            color: black;
            text-align: center;
        }
        h2  {
            color: black;
            text-align: center;
        }
    </style>
    {% block content %}

    {% endblock %}
</body>
</html>